<div class="container">
    <h1 class="text-centre" style="text-align: center;">
        View Details
    </h1>
    <a href="/movie/index" class="btn btn-warning" style="margin: 10px;">Home Page</a>
    <div>
        <strong>
            ID:
        </strong>
        <p>{{movie.id}}</p>
    </div>
    <div>
        <strong>
            TITLE:
        </strong>
        <p>{{movie.title}}</p>
    </div>
    <div>
        <strong>
            RELEASE DAY:
        </strong>
        <p>{{formattedReleaseDate}}</p>
    </div>
    <div>
        <strong>
            GENRE:
        </strong>
        <p>{{movie.genre}}</p>
    </div>
    <div>
        <strong>
            ACTORS(CAST):
        </strong>
        <p>{{movie.cast}}</p>
    </div>
    <div>
        <strong>
            LANGUAGE:
        </strong>
        <p>{{movie.lang}}</p>
    </div>
    <div>
        <strong>
            RATING:
        </strong>
        <p>{{movie.rating}}</p>
    </div>
    <div>
        <strong>
            WATCH TRAILER HERE:
        </strong>
        <p>{{movie.treailerURL}}</p>
    </div>
</div>